:root {
  --sunset-orange: #fb433b;
  --alabaster: #fcfcfc;
  --cod-gray: #1b1b1b;
  --sunset-orange: #fc4c3c;
  --cocoa-bean: #582424;
  --irish-coffee: #682c24;
  --sunset-orange: #fc4e44;
  --stiletto: #8f312c;
  --cork: #3c241c;
  --gray: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
}
